<configuration>
    <!-- Console Appender Configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Custom Logger Configuration for INFO level -->
    <logger name="lk.ijse.pos_system.custom" level="debug">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="warn">
<!--        <appender-ref ref="CONSOLE"/>-->
    </root>
</configuration>

